#nav-menu {
    display: flex;
    flex-direction: row;
    
    position:fixed;
    right: 10px;
    z-index: 100;
    padding: 0.5rem 0;
    gap: 5px;
}

#nav-menu ul{
    display: flex;
    flex-direction: column;

    position: fixed;
    right: 10px;
    top: 0.6rem;
    z-index: 100;

    background-color: var(--frt-color);
    padding: 1.5rem 0.5rem 0.5rem 1rem;

    border-radius: 1.1rem;
    min-width: 8rem;

    gap: 5px;
}

.nav-btn {
    color: var(--trh-color);
    font-weight: bold;
    font-size: 1.2rem;
}